
@{
    ViewBag.Title = "ShowUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userList = (IEnumerable<user>)ViewData["UserList"];
}


<style>
    th {
        color: saddlebrown;
        font-size: 19px;
        text-shadow: 1px 1px #8B4513;
    }

    button {
        background-color: #8D6E57;
        color: white;
        padding: 5px 50px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-right: 5px;
    }

        button:hover {
            background-color: #B5651D;
        }

        form{
            padding: 5px;

        }
</style>


<h2>Show User</h2>
<table border="1">
    <tr>
        <th style="padding: 20px;">First Name</th>
        <th style="padding: 20px;">Last Name</th>
        <th style="padding: 20px;">Email</th>
        <th style="padding: 20px;">Password</th>
        <th style="padding: 20px;">Actions</th>
    </tr>
    @foreach (var item in userList)
    {


        <tr>

            <td style="padding: 20px;">@item.firstName</td>
            <td style="padding: 20px;">@item.lastName</td>
            <td style="padding: 20px;">@item.email</td>
            <td style="padding: 20px;">@item.password</td>
            <td style="padding: 20px;">
                <form action="EditUser" method="post">
                    <input type="hidden" name="id" value="@item.userId" />
                    <button type="submit">Edit</button>
                </form>
                <form action="DeleteUser" method="post">
                    <input type="hidden" name="id" value="@item.userId" />
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>

    }
</table>